header{
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 6vh;
    grid-template-areas:
    "logo nav-menu user";

    padding-left: 30px;
}

.logo {
    grid-area: logo;
}

.nav-menu {
    grid-area: nav-menu;
}

.user {
    grid-area: user;
}

.logo,
.nav-menu,
.user {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.logo,
.nav-menu {
    justify-content: left;
}

.user {
    justify-content: center;
    padding-right: 30px;
}

header {
    background-color: var(--background-color);
}

header * {
    color: var(--text-color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

header a:hover,
header a:active {
    margin-top: -5px;
}