

#form--login{
    border: 0.5pt black solid;
    border-top: none;
}

.header-login-register{
    border: 0.5pt black solid;
    border-bottom: none;
}

.header-login-register{
    width: 30%;
    margin: 50px auto 0;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
    border-bottom: none;
    padding: 20px;
    display: flex;
    flex-direction: row;

}
#form--login, .content {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background: white;
}
.input-group {
    margin: 10px 0 10px 0;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 15px 20px;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
}
.error {
    width: 92%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 10px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
