main{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 80vh auto;
    grid-template-areas:
            ". parser ."
            ". about-us .";

    grid-row-gap: 50px;
    grid-column-gap: 10px;

    padding-top: 50px;
}

.parser{ grid-area: parser; }
#about-us{
    grid-area: about-us;
    background-color: var(--background-color);
    padding: 20px;
    margin-bottom: 50px;
}

#about-us >*{
    margin-bottom: 20px;
}

#about-us ul{
    padding-left: 20px;
}

footer{
    background-color: var(--background-color);
    padding: 10px;
    width: 100vw;
}