

textarea{
    height: 80%;
    padding: 5px;
    overflow-y: auto;
    resize: none;

}

.parser textarea{
    border: 1px #EFEFEF;
    border-style: none solid solid solid;
}

textarea:focus{
    outline: none;
}