header{
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 6vh;
    grid-template-areas:
    "logo nav-menu user";

    padding-left: 30px;
}

.logo {
    grid-area: logo;
}

.nav-menu {
    grid-area: nav-menu;
}

.user {
    grid-area: user;
}

.logo,
.nav-menu,
.user {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.logo,
.nav-menu {
    justify-content: left;
}

.user {
    justify-content: center;
    padding-right: 30px;
}

header {
    background-color: var(--background-color);
}

header * {
    color: var(--text-color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

header a:hover,
header a:active {
    margin-top: -5px;
}


/* Пробна мобилна версия,
 заради лошо разпределената структура на css и липсата на време */

@media only screen and (max-width: 1000px){
    header{
        grid-template-columns: 40vw 60vw;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo user"
            "nav-menu nav-menu";

        padding: 20px 0px 20px 20px;
        row-gap: 20px;
    }

    /* Wrong CSS structure !header > * don`t work */
    header,
    header a,
    header p,
    header div,
    header h1,
    header h2,
    header .nav-menu,
    header strong,
    header i{
        font-size: 130% !important;
    }

    .user{
        padding-right: 0px !important;
    }

}