.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.display-log{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas:
        ". convert-from convert-to log .";
    z-index: 3;
    height: 100vh;
    align-items: center;
}


/* display-log close button */
.log{
    position: relative;
    widht: 30vw;
}

#close-button,
.log-other-options-container
{
    position: absolute;
}


#close-button{
    width: 20px;

    /* position */
    right: 20px;
}

.log-other-options-container{
    bottom: 23px;
    right: 20px;
}

.log-other-options-container button{
    padding: 15px 20px;
    margin-left: 30px;
}

#log-parse-arrow{
    position: absolute;
    top: 30%;
    left: -15px;

    font-size: 2.5rem;
    color: var(--background-color);
}

.display-log .options{

}

.display-log .options button{
    margin-left: 20px;
    padding: 15px 10px;
    width: 30%;
}

.convert-from, .convert-to{
    background-color: white;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;

    gap: 20px;

    position: relative;
}

.display-log .parser-header{
    padding-bottom: 0px;
}


.convert-from{
    grid-area: convert-from;
}

.log{
    grid-area: log;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    box-shadow: -1px 0px 2px 0px gray;
    background-color: var(--background-color);
}

.convert-to{
    grid-area: convert-to;
}

.load_test_buttons{
    padding: 20px 0px;
}

/* Пробна мобилна версия,
 заради лошо разпределената структура на css и липсата на време */

@media only screen and (max-width: 1000px) {
    .display-log {
        grid-template-columns: auto;
        grid-template-rows: 30vh 35vh 35vh;
        grid-template-areas:
                "log"
                "convert-from"
                "convert-to";
        z-index: 3;
        align-items: center;
        row-gap: 0px;

        gap: 0px;
    }

    .log,
    .convert-to,
    .convert-from{
        height: 100%;
    }
}